# Critical deployment files
/Dockerfile @hirusha-adi
/docker-compose.yml @hirusha-adi
/Jenkinsfile @hirusha-adi

# Protect this file too, otherwise someone could remove you as owner
/.github/CODEOWNERS @hirusha-adi
